class ComposeEmailModal extends Component {
  state = {
    status: 'closed',
  };

  // Modal control stuff

  render() {
    return (
      <NodeConsumer>
        {({
          composeButton,
          outboxHeading,
        }) => (
          <Transport
            status={this.state.status}
            fromNode={composeButton}
            toNode={outboxHeading}
          />
        )}
      </NodeConsumer>
    );
  }
}
