class ComposeEmailModal extends Component {
  state = {
    sent: false,
  }

  sendLetter = () => {
    this.setState({ sent: true });
  }

  render() {
    return (
      <NodeConsumer>
        {({
          composeBtn,
          outboxHeading,
        }) => (
          <Transport
            status={
              this.state.sent
                ? 'open'
                : 'closed'
            }
            fromNode={composeBtn}
            toNode={outboxHeading}
          >
            <Foldable
              isFolded={this.state.sent}
              front={
                <Letter
                  handleSend={this.sendLetter}
                />
              }
            />
          </Transport>
        )}
      </NodeConsumer>
    );
  }
}
