class ComposeEmailModal extends Component {
  state = {
    status: 'closed',
  };

  // Modal control stuff

  render() {
    return (
      <NodeConsumer>
        {({
          composeBtn,
          outboxHeading,
        }) => (
          <Transport
            status={this.state.status}
            fromNode={composeBtn}
            toNode={outboxHeading}
          >
            <FoldableLetter />
          </Transport>
        )}
      </NodeConsumer>
    );
  }
}
