class ComposeEmailModal extends Component {
  state = {
    action: null,
  }

  sendLetter = () => {
    this.setState({ action: 'send' });
  }

  render() {
    const { action } = this.state;

    return (
      <Foldable isFolded={action === 'send'}>
        <Letter
          handleSend={this.sendLetter}
        />
      </Foldable>;
    )
  }
}
