const WIDTH = 400;
const HEIGHT = 500;

const ParticlesDemo = () => (
  <Particles
    width={WIDTH}
    height={HEIGHT}
  >
    {({
      particles,
      generateParticles,
    }) => (
      <Confetti
        onClick={generateParticles}
        particles={particles}
        width={WIDTH}
        height={HEIGHT}
      />
    )}
  </Particles>
);

render(<ParticlesDemo />);
